---
BasedOnStyle: Microsoft

IndentWidth: 2
MaxEmptyLinesToKeep: 2
ColumnLimit: 100
InsertNewlineAtEOF: true

SortIncludes: Never
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false

Cpp11BracedListStyle: true
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
InsertTrailingCommas: Wrapped
AlignOperands: DontAlign
AlwaysBreakTemplateDeclarations: true

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2
